.aside__blog {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.aside__blog h3 {
  color: #fce570;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.aside__blog a {
  text-decoration: none;
  color: #d9d9d9;
  cursor: pointer;
}

.aside__blog a:hover {
  color: #fce570;
}

.side__post {
  border-bottom: 1px solid #d0d2d3;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
}

.side__post h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.side__post p {
  color: #d9d9d9;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.side__post:last-child {
  border-bottom: none;
}
