.blog__card {
  display: flex;
  flex: wrap;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
  position: relative;
}

.blog__card img {
  max-width: 102px;
  float: left;
  /* margin-right: 10px; */
}

.blog__card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 15px;
}

.blog__card p {
  color: #260101;
  font-size: 0.9rem;
  margin-left: 15px;
}

.fa-chevron-right {
  position: absolute;
  right: 3px;
  bottom: 5px;
  color: #260101;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
