.blog__card {
  display: flex;
  /* flex: wrap; */
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  -webkit-box-shadow: -2px 1px 23px 11px rgb(216, 216, 216);
  -moz-box-shadow: -2px 1px 23px 11px rgba(216, 216, 216, 1);
  box-shadow: -2px 1px 23px 11px rgba(216, 216, 216, 1);
  position: relative;
}

.blog__card img {
  max-width: 100%;
  border-radius: 0.625rem;
  -webkit-box-shadow: -2px 1px 23px 11px rgb(216, 216, 216);
  -moz-box-shadow: -2px 1px 23px 11px rgba(216, 216, 216, 1);
  box-shadow: -2px 1px 23px 11px rgb(212, 211, 211);
  position: relative;
}

.blog__card figcaption {
  font-size: 0.65rem;
  position: absolute;
  top: 30px;
  padding-left: 10px;
  font-weight: 700;
  color: #fff;
}

.blog__card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 15px;
  text-transform: uppercase;
}

.blog__card p {
  color: #260101;
  font-size: 0.9rem;
  margin-left: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.read__more {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #800000;
  padding: 10px 20px;
  border-radius: 0.5rem;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.read__more:hover {
  background-color: #ff0000;
  transition: all 0.3s ease-in-out;
}
