.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #f8f6e9; */
  border-bottom: 1px solid #e9ecef;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #343a40;
}

.header__navbar .header__nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header__nav_item a {
  margin-right: 1rem;
  text-decoration: none;
  color: #260101;
}

.header__nav_item a:hover {
  color: #343a40;
  font-weight: bold;
  border-bottom: 3px solid #260101;
  transition: all 0.2s ease-in-out;
}
