.grid__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title description"
    "title description"
    "title description"
    ". rm";
  text-align: left;
}

.title {
  grid-area: title;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: 30px;
  font-weight: 800;
  padding-left: 4px;
}

.description {
  grid-area: description;
  grid-column: 2 / span 1;
  font-size: 16px;
  /* padding: 20px; */
}

.grid__header a {
  text-decoration: none;
  color: #e8e6e6;
  display: inline-block;
  width: 220px;
  height: 60px;
  background-color: #800000;
  outline: none;
  border-radius: 8px;
  margin-top: 18px;
  padding: 15px 25px;
  cursor: pointer;
}

.grid__header a:hover {
  background-color: #ff0000;
  color: #2c2c2c;
  transition: all 0.3s ease-in-out;
}

.read__more {
  grid-area: rm;
  justify-self: start;
  font-size: 16px;
  text-transform: uppercase;
}
