@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("reset.css");
@import url("nest.css");
@import url("grid.css");
@import url("navigation.css");
@import url("aside.css");
@import url("cards.css");
@import url("featured.css");
@import url("footer.css");

/* Media Queries */

@media (max-width: 480px) {
  .header__navbar {
    font-size: 1rem;
    margin-left: 10px;
  }

  .main__header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .grid__header .title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: 1.3rem;
    /* padding-left: 10px; */
    margin-bottom: 8px;
  }

  .grid__header .description {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 0.875rem;
  }

  .description a {
    width: 92%;
    height: 40px;
    font-size: 10px;
    text-align: center;
  }

  .side__post:last-child {
    border-bottom: none;
  }

  .main__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__text {
    font-size: 1rem;
    margin-right: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__navbar {
    font-size: 1.25rem;
    margin-left: 20px;
  }

  .main__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .grid__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .grid__header .title {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-size: 2.375rem;
    /* padding-left: 15px; */
  }

  .grid__header .description {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 0.875rem;
  }

  .description a {
    width: 50%;
    height: 40px;
    font-size: 10px;
    text-align: center;
  }

  .main__header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .featured__blog {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .aside__blog {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

  .blog__post-one {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }

  .blog__post-two {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
  }

  .blog__post-three {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
  }

  .side__post:last-child {
    border-bottom: none;
  }

  .footer__text {
    font-size: 1rem;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .main__header {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .grid__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  } */

    .grid__header .title {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      font-size: 1.2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-left: 11px;
    }
  }

  .grid__header .description {
    /* grid-column: 2 / span 2;
    grid-row: 1 / span 4; */
    font-size: 0.875rem;
  }

  .featured__blog {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    /* height: 290px; */
  }

  .aside__blog {
    grid-column: 3 / span 1;
    grid-row: 1 / span 5;
  }

  .blog__card {
    display: flex;
    flex: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .blog__card h3 {
    font-size: 0.9rem;
    margin-left: 8px;
  }

  .blog__card p {
    font-size: 0.7rem;
    margin-left: 8px;
    line-height: 1.4;
  }

  .blog__post-one {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-two {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-three {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-one,
  .blog__post-two,
  .blog__post-three img {
    width: 100%;
  }

  .side__post:last-child {
    border-bottom: none;
  }
}

@media (min-width: 1025px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .main__header {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .featured__blog {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }

  .aside__blog {
    grid-column: 3 / span 1;
    grid-row: 1 / span 5;
    padding: 20px 10px;
  }

  .side__post:last-child {
    border-bottom: none;
  }

  .blog__post-one {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-two {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-three {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
  }
  .header__navbar {
    font-size: 1.75rem;
    margin-left: 40px;
  }

  .side__post:last-child {
    border-bottom: none;
  }
}
