@import url("media.css");
@import url("reset.css");
@import url("grid.css");
@import url("navigation.css");
@import url("aside.css");
@import url("cards.css");
@import url("nest.css");
@import url("featured.css");

/* Media Queries */

@media (max-width: 480px) {
  .header__navbar {
    font-size: 1rem;
    margin-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__navbar {
    font-size: 1.25rem;
    margin-left: 20px;
  }

  .main__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .main__header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .featured__blog {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .aside__blog {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

  .blog__post-one {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }

  .blog__post-two {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
  }

  .blog__post-three {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .main__header {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .featured__blog {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  .aside__blog {
    grid-column: 3 / span 1;
    grid-row: 1 / span 5;
  }

  .blog__card {
    display: flex;
    flex: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    position: relative;
  }

  .blog__card h3 {
    font-size: 0.9rem;
    margin-left: 8px;
  }

  .blog__card p {
    font-size: 0.7rem;
    margin-left: 8px;
    line-height: 1.4;
  }

  .blog__post-one {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-two {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-three {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-one,
  .blog__post-two,
  .blog__post-three img {
    width: 100%;
    /* height: auto; */
  }
}

@media (min-width: 1025px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .header__navbar {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .main__header {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .featured__blog {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  .aside__blog {
    grid-column: 3 / span 1;
    grid-row: 1 / span 5;
  }

  .blog__post-one {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-two {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }

  .blog__post-three {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
  }
  .header__navbar {
    font-size: 1.75rem;
    margin-left: 40px;
  }
}
